*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial', sans-serif;     
}

/* cabeçalho  */

header {
    border-bottom: 1px solid white;
    background: #BBC5AA;
      
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}

.logo{
    
    font-family: 'Lobster', cursive;
    font-size:  clamp(1.5rem, 2vw, 3rem); /*50px convertido para ficar responsivo 3.12rem */ 
    color: #34252F;

}

.navlink{
    display: flex;
    gap: 40px;
}

.navlink__abas{
    text-decoration: none;
    color: white;
    font-size:  clamp(1.1rem, 1.2vw, 1.5rem);
    font-weight: bold;
}

/* cabeçalho  */

/* cabeçalho  */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #DDE2C6;
    background-image: linear-gradient(to bottom, #DDE2C6 , white);       
}

h1 {
    font-size:  clamp(2rem, 2vw, 5rem);
    font-weight: bold;
    margin: 40px;
    color: #34252F;
    font-family: 'Playfair Display', serif;
    background: #BBC5AA;
    border-radius: 5px;
    padding: 5px;
}

label {
    color: #34252F;
    font-weight: bold;
    font-size:  clamp(1.1rem, 1.5vw, 1.6rem);
    padding: 30px;

}

input {
    width: 50%;
    padding: 10px 25px;
}

/* footer  */

footer {
    background: #BBC5AA;
    border-top: 2px solid #4C3C46;
}

footer p {
    text-align: center;
    font-size: clamp(0.5rem, 0.8vw, 1.2rem);
    color: white;
    font-weight: bold;
    
}

.copy {
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footerbloco {
    display: flex;   
    justify-content: flex-start;
    margin-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footerbloco__redes{
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    text-decoration: none;
}

/* cabeçalho  */