*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Serif Pro', serif;      
}

/* cabeçalho  */

header {
    border-bottom: 1px solid white;
    background: #1f484a;
      
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}

.logo{
    
    font-family: 'Lobster', cursive;
    font-size:  clamp(1.5rem, 2vw, 3rem); /*50px convertido para ficar responsivo 3.12rem */ 
    color: white;

}

.navlink{
    display: flex;
    gap: 40px;
}

.navlink__abas{
    text-decoration: none;
    color: white;
    font-size:  clamp(1.1rem, 1.2vw, 1.5rem);
    font-weight: bold;
}

/* cabeçalho  */

/* main  */

.section1 {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-image: url("/mar.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    
    box-shadow: 5px 5px 5px #1f484a; 
}

h2 {
    font-size:  clamp(2rem, 2vw, 5rem);
    font-weight: bold;
    margin: 40px 0px;
}

.sobresite{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    font-size:  clamp(1.1rem, 1.5vw, 1.6rem);
    color: white;
    
}

.sobresite__direita {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobresite__botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    height: 350px;
    width: 300px;
    
    
}

.fill{
    flex-grow: 1;
}

.botaofaca {
    font-size: 1.87rem; /*30px convertido para ficar responsivo */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 5px;

}