*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial', sans-serif;     
}

/* cabeçalho  */

header {
    border-bottom: 1px solid white;
    background: #BBC5AA;
      
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}

.logo{
    
    font-family: 'Lobster', cursive;
    font-size:  clamp(1.5rem, 2vw, 3rem); /*50px convertido para ficar responsivo 3.12rem */ 
    color: #34252F;

}

.navlink{
    display: flex;
    gap: 40px;
}

.navlink__abas{
    text-decoration: none;
    color: white;
    font-size:  clamp(1.1rem, 1.2vw, 1.5rem);
    font-weight: bold;
}

/* cabeçalho  */

/* main section1 */

.section1 {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-image: linear-gradient(to right, #DDE2C6 , white);                                   /* background-image: url("/mar.jpg");  *//* background-position: center;background-repeat: no-repeat;background-size: cover; */
    min-height: 500px;
    border-bottom: 15px dotted #34252F;
    
    box-shadow: 10px 10px 10px #1f484a; 
}

h2 {
    font-size:  clamp(2rem, 2vw, 5rem);
    font-weight: bold;
    margin: 40px;
    color: #34252F;
    font-family: 'Playfair Display', serif;
    background: #BBC5AA;
    border-radius: 5px;
    padding: 5px;
}

span {
    color: #34252F;
    font-weight: bold;
}

.sobresite{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 40px;
    font-size:  clamp(1.1rem, 1.5vw, 1.6rem);
    color: #91818A;
    padding-bottom: 60px;
    
}

.sobresite p {
    margin-left: 50px;
    
}

.sobresite__direita {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobresite__botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    height: 350px;
    width: 300px;
    
    
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.sobresite__direita p {
    margin: 0px 20px;
    text-align: center;
}

.fill{
    flex-grow: 1;
}

.botaofaca {
    font-size: 1.87rem; /*30px convertido para ficar responsivo */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;

}

.sobresite__botao:hover {
    transform: scale(1.1);
    transition: 400ms;
    box-shadow: -10px 10px 10px white;
    cursor: pointer;
}

/* main section1 */

/* main section2 */

.section2 {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-image: linear-gradient(to left, #DDE2C6 , white);                                   /* background-image: url("/mar.jpg");  */
    background-position: center;
    box-shadow: 10px 10px 10px #82b5b7; 
}

.imgpensando {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    
    font-size:  clamp(1.1rem, 1.5vw, 1.6rem);
    color: #91818A;
}

.txtpensando {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
    
}

.txtpensando__porque {
    border-style: inset ;
    border-color: #34252f22;
    width: 50vw;
    margin-bottom: 30px;
    padding: 10px;
    
}

h4 {
    font-size:  clamp(2rem, 2vw, 5rem);
    font-weight: bold;
    margin-bottom: 40px;
    color: #34252F; 
    font-family: 'Playfair Display', serif;

}

.txtpensando p {
    font-size:  clamp(1.1rem, 1.5vw, 1.6rem);
    color: #91818A;
    

}

/* main section2 */

/* main section3 */

.section3 {
    display: flex;
    flex-direction: column;
    min-height: px;
    padding: 100px;
    background: #D1D8C3;
    border-style: groove ;
}

.sectiontext3 {
    font-size:  clamp(1.1rem, 1.5vw, 1.6rem);

}

.sectionpergunta3 {
    margin-bottom: 10px;
    color: #4C3C46;
    font-weight: bold;
}

.sectionresposta3 {
    margin-bottom: 20px;
    color: #91818A;
    border-bottom: 1px solid #4C3C46;
    
}

/* main section3 */

/* main section4 */

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: px;
    padding: 50px;
    padding-bottom: 100px;
    background: #E6EED6;  
}

/* main section4 */

/* main section4 */

footer {
    background: #BBC5AA;
    border-top: 2px solid #4C3C46;
}

footer p {
    text-align: center;
    font-size: clamp(0.5rem, 0.8vw, 1.2rem);
    color: white;
    font-weight: bold;
    
}

.copy {
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footerbloco {
    display: flex;   
    justify-content: flex-start;
    margin-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footerbloco__redes{
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    text-decoration: none;
}

/* main section4 */
/* footer */

@media (max-width: 850px) {
    nav{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    
    .navlink{
    display: none;
    }



    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobresite{
        margin: 0px;
    }

    .sobresite p {
        margin: 0px 5px;
    }
       
    .sobresite__botao{
        margin-bottom: 50px;
    }
    
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgpensando{
        display: none;

    }

    .txtpensando{
        margin: 0;
    }

    .section3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section4{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .footerbloco{
        display: none;
    }
    
}